body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(26, 24, 24);
    position: relative;
header{
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 3px grey;
    background-color:rgb(26, 24, 24);
    position: fixed;
    z-index: 1;
    .head{
        display: flex;
        justify-content: space-between;
        padding: 1%;
        justify-items: center;
        .img{
            height: 30px;
            width:30px;
            margin-top: 5%;
            margin-left: 5%;
            border-radius: 100%;
        }
        .left {
            display: flex;
            margin-left: -20px;
            .fb{
                height:50px;
                width: 20%;
                margin-top: -5px;
            }
            .search{
                width: 300px;
                height: 40px;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);
            }
        }
        .right{
            margin-right: 2%;
            display: flex;
            margin-top: 1%;
            .blue{
                width: 100px;
                height: 40px;;
                display: flex;
                border-radius: 50px;
                color: rgb(74, 74, 236);
                background-color: rgba($color: #14087c, $alpha: 0.4);
                text-align:center;
                margin-top: -7px;
                margin-right: 10px;
                h3{
                    font-size: 100%;
                    margin-left: 3%;
                    margin-top: 10px;
                }
            }
                i{
                    font-size: 150%;
                    margin-top: 8px;
                    margin-left: 7px;
                }
                .grey{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    border-color: rgb(201, 194, 194);
                    background-color: rgb(66, 64, 64);
                    margin-bottom: 10px;
                    margin-top: -7px;
                    margin-right: 2%;
                }    
        }
            i{
            font-size: 200%;
        }
        .center i{
            margin-right: 50px;
            margin-top: 2%;
        }
        i:hover{
            color: grey;
         }
         i{
            color: rgb(226, 222, 222);
        }
        .hide{
          display: none;
        }
    }
 }
    .contain{
   position: relative;
    .cover{
        margin-left:15%;
        width: 70%;
        height: 700px;
        border-radius: 5px;
    }
     .first {
       position: absolute;
        bottom: 50px;
         right: 250px;
         font-size: 70%;
         color: black;
         width: 120px;
         height: 35px;
        padding-left:10px;
         padding-top: 3px;
        border-radius: 5px;
        background-color: rgba($color: #e9e8f3, $alpha: 1);
     }
    i,
    p{
        display: inline;
    }
  }
  .round{
    .rimg{
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin-top: -10%;
        border: 7px solid rgb(30, 30, 223);
        margin-left: 20%;
    }
}
//     .besides{
//         width: 30px;
//         height: 30px;
//         border-radius: 100%;
//         background-color: white;
//         margin-left: 35%;
//         margin-top: -5%;
//         .i{
//             color: grey;
//             font-size: 20px;
//             margin-left: 0%;
//         } 
//  }
 .contain{
     overflow-y: hidden;
     .cover{
         margin-top: -200px;
     }
 }

  .contain,
  .round{
      display: grid;
      position: relative;
  }
  .name{
      margin-left: 45%;
      margin-top: -15%;
  }
  .clumsy{
      margin-left: 45%;
      display: inline-flex;
      position: relative; 
      i{
      color: grey;
      font-size: 25px;
      margin-left: 20%;
      } 
      div{
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background-color: white;
          margin-left: -6%;
          .one,
          .two,
          .three,
          .four,
          .five,
          .six{
            position: absolute;
          }
      }
  }
  .sides{
      display: flex;
      margin-left: 69.5%;
      margin-top: -2.5%;
      .story{
        width:100px;
        height: 40px;
        color: white;
        background-color: rgb(20, 20, 236);
      }
      .profile{
          width: 100px;
           height: 40px;
           color: white;
           background-color: grey;
           margin-left: 8%;
  }
}
.border{
    width: 70%;
    border-bottom: 1px solid rgb(100, 98, 98);
    margin-left: 15%;
    margin-top: 4%;
}
.middle{
    display: flex;
    justify-content: space-between;
    .list{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        margin-top: 2%;
        position: sticky;
        top: 70px;
        ul,li{
            text-decoration: none;
            list-style-type: none;
            display: inline;
            font-size: 20px;
            color: white;
            margin-left: 3%;
        }
        li:hover{
            text-decoration: underline;
            text-decoration-color: rgb(27, 27, 243);
           
        }
    }
    .threedots{
        width: 50px;
        height: 40px;
        background-color: rgb(50, 153, 50);
        color: white;
        margin-top: 3%;
        margin-right: 10%;
        font-size: 100%;
    
    }
}
}
@media(max-width:1024px){
    header{
        width: 80%;
        height: 70px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
    .name{
        margin-left: 55% !important;
        margin-top: -20% !important;
    }
    .clumsy{
        margin-left: 55% !important;
        margin-top: 5% !important;
    }
}
@media(max-width:823px){
    header{
        width: 80%;
        height: 55px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
}
@media(max-width:812px){
    header{
        width: 80%;
        height: 55px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
}
@media(max-width:768px){
    header{
        width: 80%;
        height: 70px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:50px !important;
            width:35% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 300px !important;
                height: 40px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-left:10% ;
            margin-top: 3%;
        }
    .center{
        display: none !important;
        }
        .right{
            margin-top: 2% !important;
        }
    }
    .first{
        margin-right: -15% !important;
    }
  .rimg{
      width:200px !important ;
      height: 200px !important ;
  }
  .name{
      margin-left: 50% !important;
  }
  .sides{
      margin-top: 7% !important;
      margin-left:35% !important ;
  }
}
@media(max-width:736px){
    header{
        width: 80%;
        height: 52px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
}
@media(max-width:731px){
    header{
        width: 80%;
        height: 52px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
}
@media(max-width:667px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 0.5%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
}
@media(max-width:640px){
    header{
        width: 80%;
        height: 52px !important;
        padding: 0%;
    }
    .head {
    .left{
        display: flex;
        .fb{
            height:40px !important;
            width:30% !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
            .search{
                width: 250px !important;
                height: 30px !important;
                border-radius: 50px;
                border-color: rgb(161, 159, 159);
                text-align: center;
                background-color: rgb(230, 221, 221);  
                margin-top: 1%;
            }
        }
        .hide{
            display: inherit !important;
            margin-top: 1%;
        }
    .center{
        display: none !important;
        }
    }
    .center,
    .right{
        display: none;
    }
    .contain{
        display: block;
        .cover{
            width: 100% !important;
            height: 500px !important;
            margin-left: 0% !important;
        }
        .first{
           margin-right: -65% !important;
           p{
               display: none !important;
           }
        }
    }
    .rimg{
        margin-top: -20% !important;
        width: 150px !important;
        height: 150px !important;
        border: 4px solid blue !important;
        margin-left: 5% !important;
    }
    // .besides{
    //     margin-top: -8%;
    //     margin-left: 40% !important;
    // }
    .name{
        font-size: 10% !important;
        margin-top: -5% !important;
        margin-left: 20% !important;
    }
    .middle{
        display: none !important;
    }
    .sides{
        display: none !important;
    }
    .clumsy{
        margin-left: 35% !important;
    }
}

@media(max-width:568px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 1%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
}
@media(max-width:540px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 1%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
}
@media(max-width:414px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 2%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 10%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
    
}
@media(max-width:411px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 2%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: -1% !important;
            margin-left: 10%;
        }
        .search{
            width: 250px !important;
            height: 35px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 0%;
        }
    }
}    .center,
    .right{
        display: none;
    }
}
@media(max-width:375px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 2%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left:7%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
}
@media(max-width:360px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 2%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 10%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
    .contain{
        display: block;
        .cover{
            width: 100% !important;
            height: 500px !important;
            margin-left: 0% !important;
        }
        .first{
           margin-right: -65% !important;
           p{
               display: none !important;
           }
        }
    }
    .rimg{
        margin-top: -20% !important;
        width: 150px !important;
        height: 150px !important;
        border: 4px solid blue !important;
        margin-left: 5% !important;
    }
    // .besides{
    //     margin-top: -8%;
    //     margin-left: 40% !important;
    // }
    .name{
        font-size: 10% !important;
        margin-top: -5% !important;
        margin-left: 20% !important;
    }
    .middle{
        display: none !important;
    }
    .sides{
        display: none !important;
    }
    .clumsy{
        margin-left: 35% !important;
    }
}
@media(max-width:320px){
    header{
        min-width: 100% !important;
        height:60px!important;
        padding: 0%;
    }
    .head{
        .right{
            display: none !important;
        }
        .hide{
            display: inherit !important;
            margin-left: 15%;
            margin-top: 1%;
        }
   .left{
        display: flex;
        margin-top: 2%;
        .fb{
            height:40px !important;
            width:60px !important;
            margin-top: 0% !important;
            margin-left: 7%;
        }
        .search{
            width: 200px !important;
            height: 30px !important;
            border-radius: 50px;
            border-color: rgb(161, 159, 159);
            text-align: center;
            background-color: rgb(230, 221, 221);  
            margin-top: 1%;
        }
    }
}
    .center,
    .right{
        display: none;
    }
}
